$primary:#333;
$secondary:#0e00d8;
$primary-hover: #333333d5;
$black:rgb(27, 27, 27);
$white:#fff;
$light: #f3f3f3;
$mobile: 'only screen and (max-width:480px)'; 
$tablet: 'only screen and (max-width:769px)'; 
$small-desktop: 'only screen and (min-width:769px)';
$desktop: 'only screen and (min-width:992px)';